streamlit>=1.22.0 # Allow newer Streamlit
pandas>=1.5.3     # Allow newer Pandas
numpy>=1.24.3     # Allow newer Numpy (Crucial fix!)
matplotlib>=3.7.1 # Allow newer Matplotlib
seaborn>=0.12.2   # Allow newer Seaborn
plotly>=5.14.1    # Allow newer Plotly
scipy>=1.10.1     # Allow newer Scipy
openpyxl>=3.1.2   # Allow newer openpyxl
